ul
  li
    a(href='/')
      i.fa.fa-home.fa-fw.fa-2x
      i.fa.fa-file-text.fa-fw.fa-2x
      span Home
  li
    a(href='/about')
      i.fa.fa-home.fa-fw.fa-2x
      i.fa.fa-university.fa-fw.fa-2x
      span About
  li
    a(href='/faq')
      i.fa.fa-home.fa-fw.fa-2x
      i.fa.fa-info.fa-fw.fa-2x
      span FAQ
  li
    a(href='/aliens')
      i.fa.fa-reddit-alien.fa-fw.fa-2x
      i.fa.fa-list.fa-fw.fa-2x
      span Aliens!
  li
    a(href='/aliens/new')
      i.fa.fa-reddit-alien.fa-fw.fa-2x
      i.fa.fa-plus-square.fa-fw.fa-2x
      span Create Alien!
