extends ../shared/template
block title
  h1 Create New Alien
block content
  .row
    .col-xs-4
    .col-xs-4
      form.form-horizontal(action='/aliens' method='post')
        .form-group
          label(for='inputName') Name:
          input#inputName.form-control(type='text', name='inputName' placeholder='Marvin Martian')
        .form-group
          label(for='inputPhoto') URL to Photo:
          input#inputPhoto.form-control(type='text', name='inputPhoto' placeholder='http://....')
        .form-group
          label(for='inputPlanet') Planet of Origin:
          input#inputPlanet.form-control(type='text', name='inputPlanet' placeholder='Planet X')
        button.btn.btn-primary(type='submit') Save New Alien
