extends ../shared/template
block title
  h1 About Alien Farm
block content
  h2 joe
  .container-fluid
    .row
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
      .col-md-1 .col-md-1
