extends ../shared/template
block title
  h1 About Alien Farm
block content
  h2(style='text-align:center;') Our Lovely Farm
  .container-fluid
    .row
      .col-md-6
        .col-md-8.fa.fa-spin  This Alien Farm was designed to integrate humans and aliens in a setting friendly even to human children. 
