extends ../shared/template
block title
  h1 Home Page
block content
  H1 Go FAQ Yourself!
  H2 Tell me Aboot the Alien Farm
  UL(type='square')
    LI Do you control the government?
      UL
        LI Not even the government controls the government!
    LI Blah blah blah
      UL
        LI Ok then.
